* {

    margin: 0;
    padding: 0;
}

body {
    height: 6000px;
}

.navbar {
    background-color: rgb(234, 135, 135);
    position: sticky;
    top: 0;

}

.navbar .Container {
    margin: auto;
    width: 70%;
    display: flex;
    align-items: center;

}

.navbar .logo {
    width: 50%;

}

.navbar .logo img {
    width: 200px;
    height: 30px;
}

.navbar .list {
    flex-grow: 1;
}

.list ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 15px;
    justify-content: flex-end;
}

.list ul a {
    text-decoration: none;
    color: azure;
    font-size: 14px;
}

.header {
    background-color: rgb(150, 85, 85);
    color: white;
    height: 927px;
    display: flex;

    justify-content: center;
    align-items: center;

}

.header-content {
    background-color: rgba(0, 0, 0, .3);
    padding: 40px;
    border: 2px solid yellow;
    text-align: center;
}